
 .DraftEditor-root {
    background: #fff;
    border: 1px solid #ddd;
    font-family: 'Georgia', serif;
    font-size: 14px;
    padding: 10px;
    min-height: 200px;
  }
  
  .DraftEditor-editorContainer {
    cursor: text;
    font-size: 16px;
    min-height: 200px;
  }
  
  .DraftEditor-editorContainer .public-DraftEditorPlaceholder-root,
  .DraftEditor-editorContainer .public-DraftEditor-content {
    padding: 5px;
  }
  
  .DraftEditor-editorContainer .public-DraftEditor-content {
    min-height: 200px;
  }
  
  .DraftEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
  }
  
  .DraftEditor-editorContainer .DraftEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
  }
  
  .DraftEditor-editorContainer .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
  }
  
  .DraftEditor-controls {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
  }
  
  .DraftEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
  }
  
  .DraftEditor-activeButton {
    color: #5890ff;
  }